@using PerpetuumSoft.Knockout
@model Models.KO.Blog.BlogModel
@{
    var ko = Html.CreateKnockoutContext();
}

<p>Title: @ko.Html.TextBox(m => m.Title)</p>
<p>Post: @ko.Html.TextArea(m => m.Post, new {@width="590px"})</p>
<p>@ko.Html.HyperlinkButton("Create", "Create", "Blog")</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@ko.Apply(Model)