@*@model Models.Blog

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    <h4>@Model.CreateDate</h4>
    <h4>By: @Html.ActionLink(Model.PostedBy, "Details", "User", new { id = Model.UserID }, null)</h4>
    <p>@Model.Post</p>
    <p>Views: @Model.NumViews</p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>*@

<div>
    Hello<br />
    Hello<br />
</div>