@using PerpetuumSoft.Knockout
@model Models.KO.Blog.List
@{
    var ko = Html.CreateKnockoutContext();
    ViewBag.Title = "Blog Listing";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Title</th>
        <th>Posted By</th>
        <th>Date Posted</th>
    </tr>
    <tbody>
        @foreach (var blog in Model.Blogs)
        {
            <tr>
                <td>@Html.ActionLink(@blog.Title, "Details", new { id = @blog.ID }, null)</td>
                <td>@blog.PostedBy</td>
                <td>@blog.CreateDate</td>
            </tr>
        }
    </tbody>
</table>



<p>
    @Html.ActionLink("Create new blog", "Create", "Blog")
</p>

