@model Models.User

@{
    ViewBag.Title = "Details";
    var mostViewedBlog = @Model.MostViewedBlog;
    var mostRecentBlog = @Model.MostRecentBlog;
}

<h2>@Model.UserName</h2>
<h4>Join Date: @Model.JoinDate</h4>
<h4>Number of Blogs: @Model.Blogs.Count</h4>
@if (mostViewedBlog != null)
{
    <h4>Most Viewed Blog: @Html.ActionLink(mostViewedBlog.Title, "Blogs", "Blog", new { id = mostViewedBlog.ID }, null)</h4>
}
@if (mostRecentBlog != null)
{
    <h4>Most Recent Blog: @Html.ActionLink(mostRecentBlog.Title, "Blogs", "Blog", new { id = mostRecentBlog.ID }, null)</h4>
}
