<!--
    potpourriblogs.com/blog/all
-->
@{
    <!-- title of html page -->
    ViewBag.Title = "Blogs - PotpourriBlogs.com";

    var blogs = WebApplication1.ViewModels.SessionModels.AllBlogs;
}

<h2>Blogs</h2>

@foreach (var blog in blogs)
{ 
    @Html.ActionLink(@blog.Title, "index", new { title = blog.Title })
    @Html.ActionLink(@blog.PostedBy, "index", "User", new { username = blog.PostedBy }, null)
    @Html.DisplayText(@blog.CreateDate.ToShortDateString())
    <br />
}
