@model Models.Blog

<!--
    potpourriblogs.com/blog?title={title}
-->
@{
    ViewBag.Title = @Model.Title;
}

<div>@Model.Title</div>
<div>@Model.PostedBy</div>
<div>@Model.CreateDate</div>
<div>@Html.Raw(@Model.Post)</div>
<div>Total Views: @Model.NumViews</div>
