@{
    var vm = BlogSiteNancy.Utils.AppViewModel.GetAppViewModel();
    var loggedInUser = vm.LoggedInUser;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@vm.Title</title>
    <link href="@Url.Content("~/Content/css/bootstrap.css")"
          rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content("~/Content/css/business-casual.css")"
          rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content("~/Content/css/layout.css")"
          rel="stylesheet"
          type="text/css" />
    <script src="~/Content/js/CKEditor/ckeditor.js"></script>
    <script src="~/Content/js/CKEditor/adapters/jquery.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</head>
<body>
    <div id="header">
        <div class="row brand">
            Welcome
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-default"
             role="navigation">
            <div class="container container-full">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggle"
                            data-target="#bs-example-navbar-collapse-1"
                            data-toggle="collapse"
                            type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                    <a class="navbar-brand"
                       href="index.html">I Should Be Sleeping</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li>
                            <img src="~/Content/img/favicon.png" />
                        </li>

                        <!-- Home Link -->
                        <li class="top-padding">
                            <a href="/">Home</a>
                            <span> | </span>
                        </li>

                        <!-- Write Blog Link -->
                        @if (loggedInUser != null && loggedInUser.IsBlogCreator)
                        {
                            <li class="top-padding">
                                <a href="/blog/new">Write a blog!</a>
                                <span> | </span>
                            </li>
                        }
                        
                        <!-- Administration Link -->
                        @if (loggedInUser != null && loggedInUser.IsAdmin)
                        {
                            <li class="top-padding">
                                <a href="/admin/userList">Administration</a>
                                <span> | </span>
                            </li>
                        }
                        
                        <!-- Blog Listing Link -->
                        <li class="top-padding">
                            <a href="/blog">See all blogs</a>
                            <span> | </span>
                        </li>

                        <!-- Tag Listing Link -->
                        <li class="top-padding">
                            <a href="/tags">See all tags</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <!-- If no user is logged in... -->
                        @if (vm.LoggedInUser == null)
                        {
                            <li class="top-padding">

                                <!-- Login -->
                                <a href="/account/login"
                                   id="LoginLink">
                                    Log in
                                </a>

                                <span> | </span>

                                <!-- Register -->
                                <a href="/account/register"
                                   id="RegisterLink">
                                    Register
                                </a>

                            </li>
                        }
                        else
                        {
                        <!-- If a user is logged in... -->
                            <li class="top-padding">
                                <a href="/account/manage"
                                   id="ManageAccountLink">Manage Account</a> <span> | </span>
                                <a href="/account/logout" id="LogoutLink">Log out</a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="container">
            <div class="searchBox">
                <form action="/search/" method="POST">
                    <div class="col-sm-10">
                        <input type="text" name="SearchParam" class="form-control" />
                    </div>
                    <div class="">
                        <input type="Submit" value="GO" class="btn btn-success col-sm-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
