@using Nancy.ViewEngines.Razor
@using FluentValidation.Results
@using BlogSiteNancy.Views.Account.ViewModels

@inherits NancyRazorViewBase<ManageAccountModel>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    var _vm = BlogSiteNancy.Utils.AppViewModel.GetAppViewModel();
    _vm.Title = "Manage Account";
}

<!DOCTYPE html>

<html>
<body>
    <div class="container col-md-4 col-md-offset-4 row box text-center">

        <!-- Change Password Form -->
        <form action="/account/changepassword/"
              class="col-md-12"
              id="ManageAccountForm"
              method="post">

            <!-- Successes -->
            @if (@Model.Successes != null && Model.Successes.Count > 0)
            {
                foreach (var success in @Model.Successes)
                {
                    <label class="successMessage"
                           id="Success">
                        @success
                    </label>
                }
            }

            <!-- Errors -->
            @if (@Model.Failures != null)
            {
                foreach (ValidationFailure failure in @Model.Failures)
                {
                    <label class="errorMessage"
                           id="Error">
                        @failure.ErrorMessage
                    </label>
                }
            }

            <!-- Old Password Input -->
            <input class="col-sm-12 form-control"
                   id="ManageOldPassword"
                   name="OldPassword"
                   placeholder="Old Password"
                   type="password" />

            <!-- New Password Input -->
            <input class="col-sm-12 form-control"
                   id="ManageNewPassword"
                   name="NewPassword"
                   placeholder="New Password"
                   type="password" />

            <!-- Confirm New Password Input -->
            <input class="col-sm-12 form-control"
                   id="ManageConfirmNewPassword"
                   name="ConfirmNewPassword"
                   placeholder="Confirm New Password"
                   type="password" />

            <!-- Change Password Input -->
            <input class="btn btn-success col-sm-12"
                   id="ChangePasswordButton"
                   name="Change Password"
                   type="submit"
                   value="Change Password" razor />

        </form>
    </div>
</body>
</html>
